<p>
Hi! I'm Jongsu Kim(김종수) in Korean or Jongsu "Liam" Kim in English ("Liam" as an English name).
As an AI researcher and engineer with diverse interests,
I'm part of the team at LG CNS.
My expertise lies in using time series data for anomaly detection in digital transformation,
particularly with factory equipment data.
Beyond this, I'm actively engaged in researching enterprise Large Language Models (LLMs).
My previous work involved turbulence simulation research in CFD(computational fluid dynamics),
and I have a strong interest in Scientific Computing.
Believing that the future of AI will be shaped by hardware chip development and compiler research,
I'm also delving into the theory of programming languages.
Combining research findings with engineering to create practical outcomes is something I'm passionate about,
thanks to my computer science background.

Not just confined to research,
I'm an avid hardcore gamer,
enjoy listening to classical music and a variety of pop songs,
and have been committed to bodyweight exercises for over two years.
</p>

