<p>
Hi! I'm Jongsu Kim(김종수) in Korean or Jongsu "Liam" Kim in English ("Liam" as an English name).
I'm a PhD in Computational Science and Engineering-Mechanical/Electrical Engineering
from <a href="https://www.yonsei.ac.kr/en_sc/index.jsp">Yonsei University</a>, South Korea.
My research interest is time series forecasting with deep learning.
Previously, I had studied Computational Fluid Dynamics.
I'm a open-source enthusiast and love to contribute open-source projects.
I enjoy writing programs in <a href="https://www.python.org/">Python</a> and <a href="https://julialang.org/">Julia</a>.
Not only writing programs, I also like to explore physics and mathematics topics.
</p>

