{% if site.about %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>About</h2>
            </li>
        </ul>
    </nav> 
    {% include about.html %}
{% endif %}

<nav class="nav-home">
    <ul class="list">
        <li class="item">
            <h2>CV</h2>
        </li>
    </ul>

    <ul class="links">
        <li class="item">
            <a class="link" href="cv/cv.html">CV (Web)</a>
        </li>
        <li class="item">
            <a class="link" href="cv/cv-kor.pdf">CV (PDF, Kor.)</a>
        </li>
        <li class="item">
            <a class="link" href="cv/cv-eng.html">CV (PDF, Eng.)</a>
        </li>
    </ul>
</nav>

